@inject IHttpContextAccessor accessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Self-Hosted // Audiobooks</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>
<body class="h-full page-background dark:dark-page-background">

<nav id="header" class="fixed w-full z-10 top-0 bg-gray-800 nav-background">

    <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

    <div class="w-full max-w-7xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3">

        <div class="pl-4">
            <a class="text-white text-base no-underline hover:no-underline font-extrabold text-xl" href="/">
                Self-Hosted // Audiobooks
            </a>
        </div>

        <div class="block lg:hidden pr-4">
            <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-300 border-rose-900 hover:bg-rose-600 hover:border-rose-900 appearance-none focus:outline-none">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
                </svg>
            </button>
        </div>

        <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 dark:bg-gray-900 md:bg-transparent z-20" id="nav-content">
            <ul class="list-reset lg:flex justify-end flex-1 items-center">
                <li class="mr-3">
                    @if (accessor.HttpContext?.Request.Path.Value == "/")
                    {
                        <a class="text-white bg-rose-600 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Index">
                            Dashboard
                        </a>
                    }
                    else
                    {
                        <a class="text-gray-300 hover:bg-rose-600 hover:text-white focus:ring-2 focus:ring-rose-900 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Index">
                            Dashboard
                        </a>
                    }
                </li>
                <li class="mr-3">
                    @if (accessor.HttpContext?.Request.Path.Value == "/Authors")
                    {
                        <a class="text-white bg-rose-600 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Authors">
                            Authors
                        </a>
                    }
                    else
                    {
                        <a class="text-gray-300 hover:bg-rose-600 hover:text-white focus:ring-2 focus:ring-rose-900 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Authors">
                            Authors
                        </a>
                    }
                </li>
                <li class="mr-3">
                    @if (accessor.HttpContext?.Request.Path.Value == "/Books")
                    {
                        <a class="text-white bg-rose-600 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Books">
                            Books
                        </a>
                    }
                    else
                    {
                        <a class="text-gray-300 hover:bg-rose-600 hover:text-white focus:ring-2 focus:ring-rose-900 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Books">
                            Books
                        </a>
                    }
                </li>
                <li class="mr-3">
                    @if (accessor.HttpContext?.Request.Path.Value == "/Series")
                    {
                        <a class="text-white bg-rose-600 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Series">
                            Series
                        </a>
                    }
                    else
                    {
                        <a class="text-gray-300 hover:bg-rose-600 hover:text-white focus:ring-2 focus:ring-rose-900 block px-3 py-2 rounded-md text-base font-medium" asp-area="" asp-page="Series">
                            Series
                        </a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>

<main class="flex-grow mt-20">
    <div class="w-full h-full max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 bg-white bg-opacity-60 my-3 dark:bg-black dark:bg-opacity-60 dark:text-gray-200 shadow-lg">
        @RenderBody()
    </div>
</main>

<footer class="dark:bg-black dark:bg-opacity-25 bg-white bg-opacity-25 shadow fixed bottom-0 w-full max-w-full mx-auto">
    <div class="max-w-7xl mx-auto my-3 px-4 sm:px-6 lg:px-8 dark:text-white">
        Made with <span class="text-red-600">&hearts;</span> by <a href="https://blog.morriscloud.com" target="_blank" class="underline font-semibold">Tony Morris</a>
    </div>
</footer>

<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

<script>
      /* Progress bar */
      //Source: https://alligator.io/js/progress-bar-javascript-css-variables/
      var h = document.documentElement,
         b = document.body,
         st = 'scrollTop',
         sh = 'scrollHeight',
         progress = document.querySelector('#progress'),
         scroll;
      var scrollpos = window.scrollY;
      var header = document.getElementById("header");
      var navcontent = document.getElementById("nav-content");

      document.addEventListener('scroll', function() {

         /*Refresh scroll % width*/
         scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
         progress.style.setProperty('--scroll', scroll + '%');

         /*Apply classes for slide in bar*/
         scrollpos = window.scrollY;

         if (scrollpos > 10) {
            header.classList.add("bg-white");
            header.classList.add("shadow");
            navcontent.classList.remove("bg-gray-100");
            navcontent.classList.add("bg-white");
         } else {
            header.classList.remove("bg-white");
            header.classList.remove("shadow");
            navcontent.classList.remove("bg-white");
            navcontent.classList.add("bg-gray-100");

         }

      });


      //Javascript to toggle the menu
      document.getElementById('nav-toggle').onclick = function() {
         document.getElementById("nav-content").classList.toggle("hidden");
      }
   </script>

</body>
</html>